* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
}


/*
    Page Layout
                    */

.container {
    display: flex;
    height: 100vh;
}

.col-1 {
    flex-basis: 35%;
}

.col-2 {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
}

.header, 
.footer {
    flex: 1;
}

.form {
    display: flex;
    flex-flow: row wrap;
    max-width: 50rem;
    row-gap: 1.75rem;
    column-gap: 3rem;
    padding: 2rem;
}   

.form-input {
    display: flex;
    flex-direction: column;
}







.col-1 {
    background-color: crimson;
}

.form-section {
    background-color: #ffffff;
}