* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #f9fafb;
}


/*
    Page Layout
                    */

.container {
    display: flex;
    height: 100vh;
}

/*  Sidebar */

.col-1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -1;
}

.col-1-top {
    height: 26%;
}

.logo-banner {
    height: 8.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-1-bottom {
    flex: 1;
}

.col-1 p {
    position: absolute;
    bottom: 0;
}



/*  Main Content  */

.col-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    height: 42%;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 2rem;
}
.header p:nth-of-type(3) {
    margin-top: 2rem;
}


.form-section {
    padding-bottom: 2.25rem;
}
.form-section > * {
    padding-left: 2rem;
}
.form-section p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.25rem;
    column-gap: 5rem;
    max-width: 45rem;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 35%;
}


.footer {
    flex: 1;
    padding-top: 2rem;
    padding-left: 2rem;
}
.footer p {
    padding-top: 2.25rem;
}





/*
    col-1 styles
                    */
.col-1 {
    background-image: url("images/hero.jpg");
    background-size: cover;
    background-color: #adadae;
}

.logo-banner {
    background-color: #00000061;
}

.logo {
    height: 8rem;
}

.logo-text {
    font-family: 'Permanent Marker', cursive;
    color: #ffffff;
    padding-left: .25rem;
}

.col-1 p {
    font-size: small;
    padding-bottom: .25rem;
    opacity: 40%;
}



/*
    col-2 styles
                    */

.header {
    font-size: 1.4rem;
    line-height: 1.3;
}

.form-section {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.26);
    background-color: #ffffff;
}

.form-section p {
    font-size: 1.2rem;
}

.footer {
    background-color: #84bb53;
}



/*
    button / link styles
                    */

button {
    font-size: 1.25rem;
    padding: .75rem 2rem;
    color: #ffffff;
    border: transparent;
    border-radius: 8px;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.26);
    background-color: #84bb53;
}

a:link {
    color: #ffffff;
}



/*
    form-input styles
                    */

label {
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
}

input {
    outline: none;
    padding: .25rem;
}

input:focus {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
    border: .5px solid blue;
}

.password-feedback {
    color: red;
}






/*
    media queries
                */
@media (max-width: 480px) {
    .container {
        flex-direction: column;
    }
    .col-1 {
        width: 100%;
    }
    .col-1 p {
        align-self: flex-end;
        top: 0;
    }
    .header {
        font-size: 1rem;
        height: 25%;
    }
    .header p:nth-of-type(3) {
        margin-top: 1rem;
    }
    .form-grid {
        row-gap: .75rem;
    }
    .form-input {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .footer {
        padding-top: 1rem;
    }
    .footer p {
        padding-top: 1.25rem;
        padding-bottom: 1rem;
    }
}